body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url(fundofofo.jpg);
    background-size: cover;
    font-family: comic Sans MS
}

h1 {color:rgb(207, 83, 104);}